<div class="container p-4">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Nos engagements</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatum ducimus ipsum dignissimos tempora, 
                consequatur impedit a omnis repudiandae, ad reprehenderit aperiam adipisci ipsam quod vel nisi maiores reiciendis odit.
                Odio veniam cupiditate sapiente aliquam sequi, quaerat ea minima laboriosam facilis vero.               
            </p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fas fa-envelope"></i>
                        faux-mail@contact.com
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fas fa-mobile-alt"></i>
                        0000000000
                    </a>
                </li>
                <li>
                    34 rue de nulle part
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Réseaux Sociaux</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-twitter-square"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-linkedin"></i>
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-facebook-square"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-telegram-plane"></i>
                        Telegram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="text-center p-3 bg-dark">
    © 2022 Copyright ExoShop
</div>
