<div class="container p-4">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Nos engagements</h5>
            <p>
                Blablabla On est trop gentils !
            </p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fas fa-envelope"></i>
                        Mail
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fas fa-mobile-alt"></i>
                        Téléphone
                    </a>
                </li>
                <li>
                    Adresse
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Réseaux Sociaux</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-twitter-square"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-linkedin"></i>
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-facebook-square"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fab fa-telegram-plane"></i>
                        Telegram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="text-center p-3 bg-dark">
    © 2022 Copyright exoShop
</div>
